<div id="lp-register">
  <div class="container wrapper">
    <div class="row">
      <div class="col-sm-5">
        <div class="intro-texts">
          <h1 class="text-white">Create professional resume for FREE !!!</h1>
          <ul>
            <li>Free instant resume</li>
            <li>Free resume templates</li>
            <li>Free cuztomization</li>
            <li>Free profile page</li>
          </ul>
          <button class="btn btn-primary">Learn More</button>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

          <!-- Register/Login Tabs-->
          <div class="reg-options">
            <ul class="nav nav-tabs">
              <li [ngClass]="currentTab == 'register' ? 'active' : ''"><a href="#register" data-toggle="tab">Register</a></li>
              <li [ngClass]="currentTab == 'login' ? 'active' : ''"><a href="#login" data-toggle="tab">Login</a></li>
            </ul><!--Tabs End-->
          </div>

          <!--Registration Form Contents-->
          <div class="tab-content">
            <div class="tab-pane" [ngClass]="currentTab == 'register' ? 'active' : ''" id="register">
              <h3>Register Now !!!</h3>
              <p class="text-muted">Create impact in your application. Create professional resume now!</p>

              <!--Register Form-->
              <form name="registration_form" id='registration_form' class="form-inline">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="fullname" class="sr-only">Fullname</label>
                    <input id="fullname" class="form-control input-group-lg" type="text"
                           name="Fullname" title="Enter your fullname" placeholder="Fullname" [(ngModel)]="signupData.name"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="email" class="sr-only">Email</label>
                    <input id="email" class="form-control input-group-lg" type="text"
                           name="Email" title="Enter Email" placeholder="Your Email" [(ngModel)]="signupData.email"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" class="form-control input-group-lg" type="password"
                           name="password" title="Enter password" placeholder="Password"  [(ngModel)]="signupData.password"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="confirm_password" class="sr-only">Confirm password</label>
                    <input id="confirm_password" class="form-control input-group-lg" type="password"
                           name="confirm_password" title="Confirm password" placeholder="Confirm password" [(ngModel)]="signupData.passwordConfirmation"/>
                  </div>
                </div>
              </form><!--Register Now Form Ends-->
              <p><a href="#" (click)="currentTab = 'login'">Already have an account?</a></p>
              <button class="btn btn-primary" (click)="signup()">Register Now</button>
            </div><!--Registration Form Contents Ends-->

            <!--Login-->
            <div class="tab-pane" [ngClass]="currentTab == 'login' ? 'active' : ''" id="login">
              <h3>Login</h3>
              <p class="text-muted">Log into your account</p>

              <!--Login Form-->
              <form name="Login_form" id='Login_form'>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="my-email" class="sr-only">Email</label>
                    <input id="my-email" class="form-control input-group-lg" type="text" name="Email"
                           title="Enter Email" placeholder="Your Email" [(ngModel)]="signinData.email"/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="my-password" class="sr-only">Password</label>
                    <input id="my-password" class="form-control input-group-lg" type="password" name="password"
                           title="Enter password" placeholder="Password" [(ngModel)]="signinData.password"/>
                  </div>
                </div>
              </form><!--Login Form Ends-->
              <p><a href="#">Forgot Password?</a></p>
              <button class="btn btn-primary" (click)="signin()">Login Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <!--Social Icons-->
        <ul class="list-inline social-icons">
          <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
          <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
