<div class="container">
  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <div class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
              <h3>{{user.name ? user.name : 'Your fullname'}}</h3>
              <p class="text-muted">Creative Director</p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a href="#" class="active">About</a></li>
              <li><a href="#">Interviews</a></li>
              <li><a href="#">Statistics</a></li>
            </ul>
            <ul class="follow-me list-inline">
              <li><button class="btn-primary">Download Resume</button></li>
              <li><button class="btn-primary">Setup Interview</button></li>
            </ul>
          </div>
        </div>
      </div><!--Timeline Menu for Large Screens End-->

      <!--Timeline Menu for Small Screens-->
      <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
          <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
          <h4>{{user.name ? user.name : 'Your fullname'}}</h4>
          <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
          <ul class="list-inline">
            <li><a href="#" class="active">About</a></li>
            <li><a href="#">Interviews</a></li>
            <li><a href="#">Statistics</a></li>
          </ul>
          <button class="btn-primary">Download Resume</button>
          <button class="btn-primary">Setup Interview</button>
        </div>
      </div><!--Timeline Menu for Small Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3">

          <!--Edit Profile Menu-->
          <ul class="edit-menu">
            <li class="active"><i class="icon ion-ios-information-outline"></i><a href="#basic" data-toggle="tab" target="_self">Basic Information</a></li>
            <li><i class="icon ion-ios-briefcase-outline"></i><a href="#work" data-toggle="tab" target="_self">Work Experience</a></li>
            <li><i class="icon ion-ios-book-outline"></i><a href="#education" data-toggle="tab" target="_self">Education</a></li>
            <li><i class="icon ion-ios-plus-outline"></i><a href="#education" data-toggle="modal" target="_self">Add new section</a></li>
            <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Account Settings</a></li>
            <li><i class="icon ion-ios-locked-outline"></i><a href="edit-profile-password.html">Change Password</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="basic">
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Basic information</h4>
                  <div class="line"></div>
                  <p>{{ profile.overview ? profile.overview : 'Tell something that will give you impact to employers.' }}</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <div class="row">
                    <div class="form-group col-xs-12 m-0">
                      <md-input-container class="full-width">
                        <input mdInput placeholder="Fullname" [(ngModel)]="user.name">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-7 m-0">
                      <md-input-container class="full-width">
                        <input mdInput placeholder="Profession / Desired Position">
                      </md-input-container>
                    </div>
                    <div class="form-group col-xs-5 m-0">
                      <md-input-container class="full-width">
                        <input mdInput placeholder="Profile handle name">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-7 m-0">
                      <md-input-container class="full-width">
                        <input mdInput placeholder="Address">
                      </md-input-container>
                    </div>
                    <div class="form-group col-xs-5 m-0">
                      <md-input-container class="full-width">
                        <input mdInput [mdDatepicker]="birthday" placeholder="Your birthday">
                        <button mdSuffix [mdDatepickerToggle]="birthday"></button>
                      </md-input-container>
                      <md-datepicker #birthday></md-datepicker>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-12">
                      <md-input-container class="full-width">
                        <textarea mdInput #overview md-autosize placeholder="Tell something that will give you impact to employers."></textarea>
                        <md-hint align="end">{{overview.value.length}} / 256</md-hint>
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="work">
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Work Experience</h4>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="education">
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Education</h4>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 static">

          <!--Sticky Timeline Activity Sidebar-->
          <div id="sticky-sidebar">
            <h4 class="grey">Sarah's activity</h4>
            <div class="feed-item">
              <div class="live-activity">
                <p>
                  <a href="#" class="profile-link">Sarah</a> Commended on a Photo <br/>
                  <span class="text-muted">5 mins ago</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
