<div class="edit-profile-container">
  <div class="block-title">
    <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Work Experience</h4>
    <div class="line"></div>
  </div>
  <div class="edit-block">
    <div class="row">
      <div class="form-group col-xs-6 m-0">
        <md-input-container class="full-width">
          <input mdInput placeholder="Work title" [(ngModel)]="work.title">
        </md-input-container>
      </div>
      <div class="form-group col-xs-6 m-0">
        <md-input-container class="full-width">
          <input mdInput placeholder="Company name" [(ngModel)]="work.company">
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 m-0">
        <md-input-container class="full-width">
          <input mdInput ng2-google-place-autocomplete placeholder="Company address"
                 [(ngModel)]="work.location" (setAddress)="getWorkAddress($event)">
        </md-input-container>
      </div>
    </div>
    <div id="workExperience"></div>
    <div class="row">
      <div class="form-group col-xs-6 m-t-20">
        <md-select class="full-width" placeholder="From month" [(ngModel)]="work.from_month">
          <md-option *ngFor="let month of months" [value]="month.value">
            {{ month.name }}
          </md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-6 m-t-20">
        <md-select class="full-width" placeholder="From year" [(ngModel)]="work.from_year">
          <md-option *ngFor="let year of years" [value]="year.value">
            {{ year.name }}
          </md-option>
        </md-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6 m-t-20">
        <md-select class="full-width" placeholder="To month" [(ngModel)]="work.to_month">
          <md-option *ngFor="let month of months" [value]="month.value">
            {{ month.name }}
          </md-option>
        </md-select>
      </div>
      <div class="form-group col-xs-6 m-t-20">
        <md-select class="full-width" placeholder="To year" [(ngModel)]="work.to_year">
          <md-option *ngFor="let year of years" [value]="year.value">
            {{ year.name }}
          </md-option>
        </md-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <md-input-container class="full-width">
                        <textarea mdInput #work_description md-autosize [(ngModel)]="work.description"
                                  placeholder="Describe your responsibilities on this job.">{{ work.description }}</textarea>
          <md-hint align="end">{{work_description.value.length}} / 512</md-hint>
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="saveWorkExperience()">Save Work Experience</button>
    </div>
  </div>
  <div class="post-content no-timeline" *ngFor="let work of works">
    <div class="post-container">
      <div class="tools pull-right" style="margin-top: -15px">
        <ul class="publishing-tools list-inline">
          <li>
            <a href="javascript:void(0)" scrollTo scrollTargetSelector="#workExperience" (click)="setCurrentWork(work)">
              <i class="ion-compose"></i> Edit
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="deleteWorkExperience(work.id)">
              <i class="ion-trash-a"></i> Delete
            </a>
          </li>
        </ul>
      </div>
      <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
      <div class="post-detail">
        <div class="user-info">
          <h5>
            <a href="timeline.html" class="profile-link">{{ work.title }} @ {{ work.company }}</a><br />
          </h5>
          <p class="text-muted">Published a photo about 1 hour ago</p>
        </div>
        <div class="line-divider"></div>
        <div class="post-text">
          <p>{{ work.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 id="target"></h4>
