/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}
.m-t-20 {
  margin-top: 20px;
}
.p-0 {
  padding: 0 !important;
}
.mat-select-trigger {
  font-size: 13px !important;
}
.no-timeline:before {
  border-left: 0 !important;
}
